In [15]:
import pandas as pd

In [22]:
r_path = '/../../../home/lucas/academico/datos/tp2/csv_originales'

props_2017_01 = pd.read_csv(r_path+'/2017/properati-AR-2017-01-01-properties-sell.csv.gz')
props_2017_02 = pd.read_csv(r_path+'/2017/properati-AR-2017-02-01-properties-sell.csv.gz')
props_2017_03 = pd.read_csv(r_path+'/2017/properati-AR-2017-03-01-properties-sell.csv.gz')
props_2017_04 = pd.read_csv(r_path+'/2017/properati-AR-2017-04-01-properties-sell.csv.gz')
props_2017_05 = pd.read_csv(r_path+'/2017/properati-AR-2017-05-01-properties-sell.csv.gz')
props_2017_06 = pd.read_csv(r_path+'/2017/properati-AR-2017-06-01-properties-sell.csv.gz')
props_2017_07 = pd.read_csv(r_path+'/2017/properati-AR-2017-07-01-properties-sell.csv.gz')
props_2017_08 = pd.read_csv(r_path+'/2017/properati-AR-2017-08-01-properties-sell.csv')

props_2017 = pd.concat([props_2017_01,props_2017_02,props_2017_03,props_2017_04,props_2017_05,props_2017_06,props_2017_07,props_2017_08])

props_2017.drop(['id','operation','place_with_parent_names','created_on','lat-lon','country_name','geonames_id','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [23]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2017_filtered = props_2017.loc[(props_2017['price'].notnull()) & (props_2017['price_aprox_usd'].notnull()) & \
               (props_2017['price_aprox_local_currency'].notnull()) & (props_2017['surface_total_in_m2'].notnull()) & (props_2017['surface_covered_in_m2'].notnull())]

#Rows que tengan valores de precios erroneos
props_2017_filtered = props_2017_filtered.loc[(props_2017_filtered['price'] > 0) \
        & (props_2017_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2017_filtered['price_aprox_usd'] > 0) \
        & (props_2017_filtered['surface_covered_in_m2'] > 5)                                    
        & (props_2017_filtered['surface_total_in_m2'] > 5)]
props_2017_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,246006.000000,246006.000000,3.252200e+05,3.252200e+05,3.252200e+05,325220.000000,325220.000000,3.252200e+05,3.252200e+05,29983.000000,180469.000000,4.127700e+04
mean,-34.808231,-58.864453,4.253812e+05,4.430073e+06,2.693233e+05,253.717228,131.738254,2.088218e+03,5.051060e+03,5.958710,2.956513,3.858566e+03
std,1.699381,1.780816,7.562082e+05,6.195194e+06,3.770673e+05,1566.279485,434.811769,3.664202e+03,1.034407e+04,100.039542,1.523273,7.151998e+04
min,-54.833014,-71.672790,5.000000e+03,7.888486e+04,4.666620e+03,10.000000,6.000000,6.000000e-01,1.000000e+00,1.000000,1.000000,1.000000e+00
25%,-34.649211,-58.640393,1.149000e+05,1.596850e+06,9.800000e+04,53.000000,47.000000,1.093248e+03,1.538462e+03,2.000000,2.000000,1.000000e+03
50%,-34.596314,-58.464914,1.950000e+05,2.682708e+06,1.640000e+05,95.000000,80.000000,1.754386e+03,2.181818e+03,3.000000,3.000000,1.950000e+03
75%,-34.498620,-58.392486,4.000000e+05,5.030078e+06,3.000000e+05,235.000000,165.000000,2.441176e+03,3.172414e+03,6.000000,4.000000,3.800000e+03
max,-23.138872,-54.434214,5.000000e+07,7.984250e+08,5.000000e+07,200000.000000,100000.000000,1.271027e+06,1.016822e+06,7071.000000,40.000000,1.000150e+07

In [24]:
#Genero el csv filtrado
props_2017_filtered.to_csv('props_2017_train.csv',index=False)

In [25]:
props_2016_01 = pd.read_csv(r_path+'/2016/properati-AR-2016-01-01-properties-sell.csv.gz')
props_2016_02 = pd.read_csv(r_path+'/2016/properati-AR-2016-02-01-properties-sell.csv.gz')
props_2016_03 = pd.read_csv(r_path+'/2016/properati-AR-2016-03-01-properties-sell.csv.gz')
props_2016_04 = pd.read_csv(r_path+'/2016/properati-AR-2016-04-01-properties-sell.csv.gz')
props_2016_05 = pd.read_csv(r_path+'/2016/properati-AR-2016-05-01-properties-sell.csv.gz')
props_2016_06 = pd.read_csv(r_path+'/2016/properati-AR-2016-06-01-properties-sell.csv.gz')
props_2016_07 = pd.read_csv(r_path+'/2016/properati-AR-2016-07-01-properties-sell.csv.gz')
props_2016_08 = pd.read_csv(r_path+'/2016/properati-AR-2016-08-01-properties-sell.csv.gz')
props_2016_09 = pd.read_csv(r_path+'/2016/properati-AR-2016-09-01-properties-sell.csv.gz')
props_2016_10 = pd.read_csv(r_path+'/2016/properati-AR-2016-10-01-properties-sell.csv.gz')
props_2016_11 = pd.read_csv(r_path+'/2016/properati-AR-2016-11-01-properties-sell.csv.gz')
props_2016_12 = pd.read_csv(r_path+'/2016/properati-AR-2016-12-01-properties-sell.csv.gz')
props_2016 = pd.concat([props_2016_01,props_2016_02,props_2016_03,props_2016_04,props_2016_05,props_2016_06,props_2016_07,props_2016_08,props_2016_09,props_2016_10,props_2016_11,props_2016_12])
props_2016.drop(['id','operation','place_with_parent_names','created_on','country_name','geonames_id','lat-lon','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [26]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2016_filtered = props_2016.loc[(props_2016['price'].notnull()) & (props_2016['price_aprox_usd'].notnull()) & \
               (props_2016['price_aprox_local_currency'].notnull()) & (props_2016['surface_total_in_m2'].notnull()) & (props_2016['surface_covered_in_m2'].notnull())]

props_2016_filtered = props_2016_filtered.loc[(props_2016_filtered['price'] > 0) \
        & (props_2016_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2016_filtered['price_aprox_usd'] > 0) \
        & (props_2016_filtered['surface_covered_in_m2'] > 5)                                    
        & (props_2016_filtered['surface_total_in_m2'] > 5)]

props_2016_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,188518.000000,188518.000000,2.458030e+05,2.458030e+05,2.458030e+05,245803.000000,245803.000000,2.458030e+05,2.458030e+05,29228.000000,145190.000000,3.895700e+04
mean,-34.822448,-58.842038,3.662307e+05,3.974342e+06,2.488864e+05,289.981615,140.682514,1.696193e+03,3.898202e+03,4.393869,3.113176,3.182715e+03
std,2.249884,2.138429,8.938214e+05,6.251245e+06,3.914735e+05,1666.131380,967.754502,6.927808e+03,9.517185e+03,9.286725,1.542275,1.886418e+04
min,-54.805115,-122.419415,5.000000e+03,4.843214e+04,3.032980e+03,10.000000,6.000000,7.772599e-02,1.171170e+00,1.000000,1.000000,1.000000e+00
25%,-34.657024,-58.621008,1.050000e+05,1.477086e+06,9.250000e+04,55.000000,50.000000,8.888889e+02,1.416667e+03,2.000000,2.000000,9.000000e+02
50%,-34.600731,-58.479259,1.800000e+05,2.475118e+06,1.550000e+05,109.000000,87.000000,1.538462e+03,1.931818e+03,3.000000,3.000000,1.700000e+03
75%,-34.510119,-58.396870,3.600000e+05,4.551022e+06,2.850000e+05,269.000000,179.000000,2.138060e+03,2.734375e+03,6.000000,4.000000,3.500000e+03
max,52.619706,5.011710,1.234568e+08,7.984250e+08,5.000000e+07,199999.000000,200000.000000,1.271027e+06,1.016822e+06,480.000000,32.000000,1.111111e+06

In [27]:
#Genero el csv filtrado
props_2016_filtered.to_csv('props_2016_train.csv',index=False)

In [30]:
props_2015_1 = pd.read_csv(r_path+'/2015/properati-AR-2015-06-01-properties-sell-six_months.csv')
props_2015_2 = pd.read_csv(r_path+'/2015/properati-AR-2015-12-01-properties-sell-six_months.csv')
props_2015 = pd.concat([props_2015_1,props_2015_2])
props_2015.drop_duplicates()
props_2015.drop(['id','operation','place_with_parent_names','created_on','country_name','geonames_id','lat-lon','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [31]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2015_filtered = props_2015.loc[(props_2015['price'].notnull()) & (props_2015['price_aprox_usd'].notnull()) & \
               (props_2015['price_aprox_local_currency'].notnull()) & (props_2015['surface_total_in_m2'].notnull()) & (props_2015['surface_covered_in_m2'].notnull())]
props_2015_filtered.describe()
props_2015_filtered = props_2015_filtered.loc[(props_2015_filtered['price'] > 0) \
        & (props_2015_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2015_filtered['price_aprox_usd'] > 0) \
        & (props_2015_filtered['surface_covered_in_m2'] > 5)                                    
        & (props_2015_filtered['surface_total_in_m2'] > 5)]
props_2015_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,24939.000000,24939.000000,3.649300e+04,3.649300e+04,3.649300e+04,36493.00000,36493.000000,36493.000000,36493.000000,6504.000000,18068.000000,3.852000e+03
mean,-34.783847,-58.641655,3.589961e+05,4.492411e+06,2.608384e+05,381.12005,155.123147,1531.076904,3820.479790,5.424662,3.120379,4.025345e+03
std,2.546361,2.123681,5.747864e+05,6.864196e+06,3.981473e+05,2097.20544,1081.866715,2860.187282,8810.115093,28.874508,1.556507,6.129890e+04
min,-54.804475,-122.419415,5.000000e+03,5.196252e+04,3.032980e+03,10.00000,6.000000,0.077726,1.171170,1.000000,1.000000,1.000000e+00
25%,-34.650818,-58.569372,1.100000e+05,1.623803e+06,9.450000e+04,58.00000,50.000000,700.000000,1342.857143,2.000000,2.000000,5.000000e+02
50%,-34.600292,-58.479454,1.900000e+05,2.763920e+06,1.600000e+05,127.00000,96.000000,1348.837209,1823.529412,3.000000,3.000000,1.000000e+03
75%,-34.506821,-58.399285,3.800000e+05,5.127072e+06,2.970000e+05,356.00000,200.000000,2000.000000,2558.139535,6.000000,4.000000,2.100000e+03
max,52.619706,5.011710,3.500000e+07,6.046075e+08,3.500000e+07,199999.00000,200000.000000,437500.000000,777777.777778,1201.000000,20.000000,2.300000e+06

In [32]:
props_2015_filtered.to_csv('props_2015_train.csv',index=False)

In [33]:
props_2014_01 = pd.read_csv(r_path+'/2014/properati-AR-2014-01-01-properties-sell.csv')
props_2014_02 = pd.read_csv(r_path+'/2014/properati-AR-2014-02-01-properties-sell.csv')
props_2014_03 = pd.read_csv(r_path+'/2014/properati-AR-2014-03-01-properties-sell.csv')
props_2014_04 = pd.read_csv(r_path+'/2014/properati-AR-2014-04-01-properties-sell.csv')
props_2014_05 = pd.read_csv(r_path+'/2014/properati-AR-2014-05-01-properties-sell.csv')
props_2014_06 = pd.read_csv(r_path+'/2014/properati-AR-2014-06-01-properties-sell.csv')
props_2014_07 = pd.read_csv(r_path+'/2014/properati-AR-2014-07-01-properties-sell.csv')
props_2014_08 = pd.read_csv(r_path+'/2014/properati-AR-2014-08-01-properties-sell.csv')
props_2014_09 = pd.read_csv(r_path+'/2014/properati-AR-2014-09-01-properties-sell.csv')
props_2014_10 = pd.read_csv(r_path+'/2014/properati-AR-2014-10-01-properties-sell.csv')
props_2014_11 = pd.read_csv(r_path+'/2014/properati-AR-2014-11-01-properties-sell.csv')
props_2014_12 = pd.read_csv(r_path+'/2014/properati-AR-2014-12-01-properties-sell.csv')
props_2014 = pd.concat([props_2014_01,props_2014_02,props_2014_03,props_2014_04,props_2014_05,props_2014_06,props_2014_07,props_2014_08,props_2014_09,props_2014_10,props_2014_11,props_2014_12])
props_2014.drop_duplicates()
props_2014.drop(['operation','place_with_parent_names','created_on','geonames_id','lat-lon','operation','image_thumbnail','properati_url'], axis = 1, inplace = True)

In [34]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2014_filtered = props_2014.loc[(props_2014['price'].notnull()) & (props_2014['price_aprox_usd'].notnull()) & \
               (props_2014['price_aprox_local_currency'].notnull()) & (props_2014['surface_in_m2'].notnull())]

props_2014_filtered = props_2014_filtered.loc[(props_2014_filtered['price'] > 0) \
        & (props_2014_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2014_filtered['price_aprox_usd'] > 0) \
        & (props_2014_filtered['surface_in_m2'] > 5)]

props_2014_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_in_m2,price_usd_per_m2,floor,rooms
count,374077.000000,374069.000000,4.500260e+05,4.500260e+05,4.500260e+05,450026.000000,450026.000000,80624.000000,336855.000000
mean,-34.568854,-58.821537,3.082301e+05,1.468474e+06,1.874081e+05,164.036607,1853.218439,11.720207,2.504359
std,4.005416,3.688435,4.914784e+05,2.175987e+06,2.724701e+05,352.738713,1940.873115,91.732661,1.280234
min,-88.003165,-165.937500,1.000000e+00,9.700000e-01,1.200000e-01,10.000000,0.000141,0.000000,0.000000
25%,-34.643600,-58.576713,8.990000e+04,6.372640e+05,8.100000e+04,47.000000,1124.550000,1.000000,2.000000
50%,-34.597840,-58.469198,1.500000e+05,9.499999e+05,1.200000e+05,75.000000,1696.226415,3.000000,2.000000
75%,-34.547670,-58.403444,3.500000e+05,1.596380e+06,2.050000e+05,160.000000,2247.191011,7.000000,3.000000
max,50.451911,174.375000,8.762122e+07,1.177747e+08,1.380000e+07,10000.000000,260673.162143,5055.000000,39.000000

In [35]:
props_2014_filtered.to_csv('props_2014_train.csv',index=False)

In [36]:
props_2013_08 = pd.read_csv(r_path+'/2013/properati-AR-2013-08-01-properties-sell.csv')
props_2013_09 = pd.read_csv(r_path+'/2013/properati-AR-2013-09-01-properties-sell.csv')
props_2013_10 = pd.read_csv(r_path+'/2013/properati-AR-2013-10-01-properties-sell.csv')
props_2013_11 = pd.read_csv(r_path+'/2013/properati-AR-2013-11-01-properties-sell.csv')
props_2013_12 = pd.read_csv(r_path+'/2013/properati-AR-2013-12-01-properties-sell.csv')
props_2013 = pd.concat([props_2013_08,props_2013_09, props_2013_10, props_2013_11, props_2013_12])
props_2013.drop(['operation','place_with_parent_names','created_on','geonames_id','lat-lon','operation','image_thumbnail','properati_url'], axis = 1, inplace = True)

In [37]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2013_filtered = props_2013.loc[(props_2013['price'].notnull()) & (props_2013['price_aprox_usd'].notnull()) & \
               (props_2013['price_aprox_local_currency'].notnull()) & (props_2013['surface_in_m2'].notnull())]

props_2013_filtered = props_2013_filtered.loc[(props_2013_filtered['price'] > 0) \
        & (props_2013_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2013_filtered['price_aprox_usd'] > 0) \
        & (props_2013_filtered['surface_in_m2'] > 5)]

props_2013_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_in_m2,price_usd_per_m2,floor,rooms
count,180979.000000,180976.000000,1.944310e+05,1.944310e+05,1.944310e+05,194431.000000,194431.000000,40762.000000,163120.000000
mean,-34.387772,-58.951254,3.333169e+05,1.171361e+06,2.072874e+05,132.276689,2405.504665,16.987881,2.390878
std,4.515557,4.174511,7.677893e+05,1.667801e+06,2.974368e+05,264.414646,3550.014088,113.155789,1.242731
min,-88.003165,-165.937500,5.000000e+03,2.673996e+04,5.000000e+03,20.000000,7.960000,0.000000,0.000000
25%,-34.639663,-58.593057,9.500000e+04,4.973634e+05,8.800000e+04,46.000000,1250.000000,2.000000,1.000000
50%,-34.592316,-58.479048,1.700000e+05,7.485676e+05,1.308902e+05,70.000000,1850.746269,4.000000,2.000000
75%,-34.527867,-58.408673,4.300000e+05,1.299207e+06,2.300000e+05,140.000000,2554.054054,7.000000,3.000000
max,89.169552,174.375000,1.484420e+08,1.755238e+08,3.000000e+07,9767.000000,305211.459250,5055.000000,39.000000

In [38]:
props_2013_filtered.to_csv('props_2013_train.csv',index=False)

In [39]:
props = pd.concat([props_2017_filtered ,props_2016_filtered,props_2015_filtered,props_2014_filtered,props_2013_filtered])
props.describe()

,floor,lat,lon,price,price_aprox_local_currency,price_aprox_usd,price_per_m2,price_usd_per_m2,rooms,surface_covered_in_m2,surface_in_m2,surface_total_in_m2
count,187101.000000,1.014519e+06,1.014508e+06,1.251973e+06,1.251973e+06,1.251973e+06,6.075160e+05,1.251973e+06,843702.000000,607516.000000,644457.000000,607516.000000
mean,10.581215,-3.464700e+01,-5.885447e+01,3.554251e+05,2.771782e+06,2.259847e+05,4.510689e+03,1.959814e+03,2.697097,136.761843,154.454722,276.042906
std,89.897385,3.373414e+00,3.139708e+00,7.039715e+05,4.821037e+06,3.365745e+05,9.946177e+03,4.064290e+03,1.411200,741.946553,328.924916,1643.671613
min,0.000000,-8.800316e+01,-1.659375e+02,1.000000e+00,9.700000e-01,1.200000e-01,1.000000e+00,1.411765e-04,0.000000,6.000000,10.000000,10.000000
25%,2.000000,-3.464563e+01,-5.859237e+01,9.800000e+04,8.131000e+05,8.800000e+04,1.470588e+03,1.076923e+03,2.000000,48.000000,47.000000,54.000000
50%,3.000000,-3.459721e+01,-5.847238e+01,1.700000e+05,1.515411e+06,1.400000e+05,2.044186e+03,1.693182e+03,3.000000,83.000000,73.000000,100.000000
75%,7.000000,-3.452927e+01,-5.839998e+01,3.800000e+05,3.034015e+06,2.500000e+05,2.961538e+03,2.313433e+03,3.000000,170.000000,150.000000,250.000000
max,7071.000000,8.916955e+01,1.743750e+02,1.484420e+08,7.984250e+08,5.000000e+07,1.016822e+06,1.271027e+06,40.000000,200000.000000,10000.000000,200000.000000

In [22]:
props.dtypes

currency                       object
expenses                       object
floor                         float64
lat                           float64
lon                           float64
place_name                     object
price                         float64
price_aprox_local_currency    float64
price_aprox_usd               float64
price_per_m2                  float64
price_usd_per_m2              float64
property_type                  object
rooms                         float64
state_name                     object
surface_covered_in_m2         float64
surface_in_m2                 float64
surface_total_in_m2           float64
dtype: object

In [40]:
props['expenses'] = pd.to_numeric(props['expenses'],errors="coerce")
props.dtypes

currency                       object
expenses                      float64
floor                         float64
lat                           float64
lon                           float64
place_name                     object
price                         float64
price_aprox_local_currency    float64
price_aprox_usd               float64
price_per_m2                  float64
price_usd_per_m2              float64
property_type                  object
rooms                         float64
state_name                     object
surface_covered_in_m2         float64
surface_in_m2                 float64
surface_total_in_m2           float64
dtype: object

In [41]:
props.to_csv('props_train.csv',index=False)